﻿body {
    margin:0;
    background-color:#E1E3E4;
    font-family:Arial;
}

#navMenu ul {
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:0;
    margin-bottom:30px;
}

.SystemText {
    color:red;
}

.content {
    /*background-color:white;*/
    margin-bottom:30px!important;
    width:auto;
    max-width: 1100px;
    margin:auto;
    padding:10px;
}

#pageWrapper {
    width:auto;
    max-width:1040px;
    margin:auto;
    box-shadow: 0px 0px 30px #888888;
}

#navMenu li a {
    width:60px;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

#navMenu li a:hover {
    background-color:#898989;
}

#navMenu ul li {
    border-right:1px solid #bbb;
}
.active {
    background-color:#4CAF50;
}

#navMenu ul li {
    float:left;
    border-right:1px solid #bbb;
}


#navMenu li:last-child {
    border-right:none;
}

.mPlayers:nth-child(2n), .aPlayers:nth-child(4n) {
    background-color:white;
}

.mPlayers, .aPlayers {
    height:40px;
    padding:15px 0px 0px 10px;
}

.PlayerCb {
    float:right;
    margin-top:2px;
    margin-right:10px;
}

.team1 {
    width: 32%;
    float:left;
}

.team2 {
    width: 13%;
    float:left;
}

.match {
    min-height: 50px;
    max-height: 100px;
    border: 1px;
    border-style: solid;
    border-color: #D4D4D4;
    padding: 20px;
}

.t1Radio {
    float: left;
    margin-right: 12%;
    margin-left: 1%;
}

.radio1box {
    float: left;
    margin-right: 10%;
    margin-left: 2%;
}

.t1Radio, .t2Radio {
    margin-left: 13px;
}

div label {
    display: none;
}

.team1, .team2 {
    min-height: 35px;
    max-height: 72px;
}