﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FrontEnd.Master" AutoEventWireup="true" CodeBehind="PostGame.aspx.cs" Inherits="Rltt.PostGame" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpMainContent" runat="server">
    <asp:Literal runat="server" Text="Team "></asp:Literal><asp:Label runat="server" ID="Winner"></asp:Label><asp:Literal runat="server" Text=" won the game!"></asp:Literal>
</asp:Content>
